


<mat-card class="example-card" *ngIf=" cancion">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Detalles de la canción</mat-card-title>
  </mat-card-header>
  <img mat-card-image class="img" [src]="cancion.img" style="border: 5px solid #39ABA2; border-radius: 50%;" srcset="" alt="Foto">
  <mat-card-content>
    <p >
      <mat-form-field appearance="fill">
        <mat-label>Artista</mat-label>
        <input matInput placeholder=" " [(ngModel)]="artist" value=" {{ cancion.artista }} ">
        <mat-icon matSuffix>face</mat-icon>
      </mat-form-field>
    </p>
    <p >
      <mat-form-field appearance="fill">
        <mat-label>Canción</mat-label>
        <input matInput placeholder=" " value="{{ cancion.titulo }}">
        <mat-icon matSuffix>book</mat-icon>
      </mat-form-field>
    </p>
    <p >
      <mat-form-field appearance="fill">
        <mat-label>Álbum</mat-label>
        <input matInput placeholder="" value="{{ cancion.album }}" >
        <mat-icon matSuffix>album</mat-icon>
      </mat-form-field>
    </p>
    <p >
      <mat-form-field appearance="fill">
        <mat-label>Estilo</mat-label>
        <input matInput placeholder=" " value="{{ cancion.estilo }}">
        <mat-icon matSuffix>mic</mat-icon>
      </mat-form-field>
    </p>
    <p >
      <mat-form-field appearance="fill">
        <mat-label>Fecha</mat-label>
        <input matInput placeholder=" " value="{{ cancion.fecha }}" >
        <mat-icon matSuffix>today</mat-icon>
      </mat-form-field>
    </p>
    <p >
      <mat-form-field appearance="fill" class="example-full-width">
        <mat-label>Descripción</mat-label>
        <textarea matInput >{{ cancion.description }}</textarea>
        <mat-icon matSuffix>border_color</mat-icon>
      </mat-form-field>
    </p>
    <button mat-raised-button (click)="updateCancion(albums,artist,title)"
        style="border: 2px solid #39ABA2 !important; border-radius: 5% !important;margin-right: 3%;  color: #39ABA2;"
        ><span>Actualizar </span></button>
  </mat-card-content>
</mat-card>
